* {
    box-sizing:border-box;
}
/* layout for mobile screen size */ 
@media screen and (max-width:768px) {
header{
    padding:50px;
    align-items:center;
    background-color:#120323;
}

h1{
    position:relative;
    color:#97bf04;
    align-items:center;
    font-family:Arial, Helvetica, sans-serif;
    
}

.header-container{
    display:flex;
    flex-direction:column;
}

main img{
    display:block;
    border:3px solid #d9043d;
    max-width:100%;
     
}

h2{
    font-family:Arial, Helvetica, sans-serif;
}

p{
    font-family:Arial, Helvetica, sans-serif;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
}

aside{
    background-color:#97bf04;
}


footer{
    background-color:#d9043d;
    padding:30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:white;
    text-align:center;
}
}
/* layout for tablet sizes */ 
@media screen and (min-width:769px) {

header{
        display:flex;
        padding:30px;
        align-items:flex-start;
        background-color:#120323;
    
    }

h1{
    display:flex;
    flex:2;
    align-items:right;
    font-family:Arial, Helvetica, sans-serif;
    color:#97bf04;
    
}

main img{
    width:300px;
    height:300px;
    border:3px solid #d9043d;
}

figure{
    display:flex;
    gap:5rem;
    flex-direction:row;
    justify-content:flex-end;
}



h2{
    font-family:Arial, Helvetica, sans-serif;
}

p{
    font-family:Arial, Helvetica, sans-serif;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
}

aside{
    background-color:#97bf04;
}

footer{
    background-color:#d9043d;
    padding:30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:white;
    text-align:center;
}

}

/* layout for desktop screens */ 

@media screen and (min-width:1001px) {

main img{
     width:250px;
     height:250px;
}
#container{
    display:flex;
    justify-content:space-between;
    gap:10px;
}

figcaption{
    font-size:12px ;

}
aside{
    display:block;
    padding:10px;
    margin:10px;
    font-size:12px;
}
/* */ 
} 

